#cabecalho {
    max-width:100%;
    height: auto;
}

body {
    background-color: #F2F4F3;
    color: #011627;
}

#nome {
    font-family: fantasy;
}

.black {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Ind {
    float: right;
    margin: 4%; 
    background-color: #011627;
    color: #CA2E55;
    font-size: 2em;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 6px 4px 3px #66717E;
}

.index {
    
}

#corpo{
    background-color: #011627;
    color: #CA2E55;
    margin-top: 4%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    position: absolute;
    float: left;
    box-shadow: 6px 4px 3px #66717E;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mim {
    font-size: 45px ;
}

#skill{
    background-color: #F2F4F3;
    color: #CA2E55;
    position: absolute;
    margin-top: 1150px;
    font-size: 25px;
    border-radius: 20%;
    padding: 30px;
}

#habi {
    font-size: 35px;
    text-align: center;
}

#cont {
    background-color: #F2F4F3;
    margin-top: 1500px;
    text-align: center;
}

.ref {
    display: inline;
    margin: 15px;
    padding-bottom: 5px;
    font-size: 20px;
}

#contato {
    font-size: 35px;
    color: #CA2E55;
    text-align: center;
}

a {
    text-decoration: none;
    color: #007EA7;
}